/* Reset Básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #614b4b;
    color: #333;
}

header {
    background-color: #007bff; /* Azul vibrante */
    color: rgb(107, 62, 62);
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* Área de Produtos */
#produtos {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Layout responsivo */
    gap: 20px;
}

.produto {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}

.preco {
    font-size: 1.2em;
    color: #28a745; /* Verde para destaque de preço */
    font-weight: bold;
    margin: 10px 0;
}

.add-carrinho {
    background-color: #ffc107; /* Amarelo chamativo */
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.add-carrinho:hover {
    background-color: #e0a800;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    margin-top: 20px;
}